@keyframes dark1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes dark2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-dark1 {
  animation: dark1 1s ease-in-out infinite;
}

.animate-dark2 {
  animation: dark2 1s ease-in-out infinite;
}